*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #272d2d;
}

header{
    width: 100vw;
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f6f8ff;
    background-color: #131616;
    box-shadow: 10px 3px 3px #272d2d;
}

header div{
    margin-left: 2%;
}

header span{
    margin-right: 5%;
}

.divBackOptions{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    height: 100%;
}

.divBackOptions i{
    color: #ebefff;
}

.divBackOptions i:hover{
    cursor: pointer;
    color: #ebefff;
    transform: scale(1.1);
}

.userMenu{
    position: relative;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: space-around;
}

.userMenu:hover{
    background-color:  rgba(19, 22, 22, 0.9);
}

.spanAction{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100% !important;
    white-space: nowrap;
}

.spanAction:hover{
    cursor: pointer;
    color: #ebefff;
}

.userMenu:hover .menuOptions{
    display: block;
}

.menuOptions{
    position: absolute;
    display: none;
    /* position: absolute; */
    width: 100%;
    height: 300%;
    background-color: #131616;
    margin-top: 7vh;
    z-index: 1;
    margin-left: 0;
}

.menuOptions:hover, .menuOptions div:hover, .menuOptions button:hover{
    cursor: pointer;
    background-color: rgba(19, 22, 22, 0.9);
}

.menuOptions button{
    width: 92%;
    height: 33%;
    background-color: rgba(19, 22, 22, 0.9);
    border: none;
    color: #f6f8ff;
    text-align: left;
    font-size: 100%;
    margin-left: 8%;
    outline: none;
}

.menuOptions div{
    height: 34%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.divMainContent{
    width: 100vw;
    height: 93vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-Ancor{
    text-decoration: none;
    background-color: #f6f8ff;
    color: #131616;
    border: none;
    transform: scale(2);
    padding: 1%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #090b0b;
}

.btn-Ancor:hover{
    background-color: #ebefff;
}

/* Div new list */

.divNewList{
    height: 100%;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.divNewList form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 30%;
    width: 30%;
    background-color: #f6f8ff;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #090b0b;
}

.divNewList h2{
    text-align: center;
}

.divNewList form input, select{
    width: 90%;
    margin-left: 5%;
    height: 20%;
    padding-left: 1%;
    border: none;
    background-color: #f6f8ff;
    box-shadow: 1px 1px 3px #272d2d;
    border-radius: 3px;
}

.divBtnNewList{
    width: 90%;
    height: 20%;
    margin-left: 5%;
    display: flex;
    justify-content: space-between;
}

.divBtnNewList button{
    width: 30%;
    height: 100%;
    border: none;
    box-shadow: 1px 1px 3px #272d2d;
}

.btn-cancel{
    background-color: #f6f8ff;
    /* background-color: #ea2b1f; */
    color: #272d2d;
}

.btn-cancel:hover{
    cursor: pointer;
    background-color: #962233;
    color: #f6f8ff;
}

.btn-create{
    background-color: #f6f8ff;
    color: #272d2d;
}

.btn-create:hover{
    cursor: pointer;
    background-color: #1d726f;
    color: #f6f8ff;
}

/* ============================ */

.divCreateNewListBack{
    position: absolute;
    background-color: #f6f8ff;
    transform: scale(3);
    border-radius: 50%;
    width: 2%;
    height: 4%;
    left: 90%;
    top: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 10px #090b0b;
}

.divCreateNewListBack:hover{
    cursor: pointer;
    background-color: #ebefff;
}

.divLists{
    
}

.ulListsNames{
    list-style: none;
    color: #f6f8ff;
    font-size: 50px;
}

@media only screen and (max-width: 1200px) {
    .divBackOptions{
        width: 35%;
    }

    .divNewList{
        width: 200%;
        height: 150%;
    }

    .divNewList h2{
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 600px) {
    .divBackOptions{
        width: 60%;
    }

    .divMainContent{
    }

    .divNewList{
        width: 300%;
        height: 100%;
    }

    .divNewList h2{
        font-size: 1.2rem;
    }
}