*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: #272d2d;
}

.loginDiv{
    height: 100vh;
    width: 100vw;
    display: flex;
}

.left-side, .right-side{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

/* Parte da esquerda */

.loginDiv .left-side{
    color: #f6f8ff;
    font-size: 200%;
}

@keyframes moveFormToLeft{
    to{transform: translateX(-50vw);}
  }

.loginDiv .right-side{
    animation-name: none;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.divLeftText h1{
    width: 60%;
    /* text-decoration: underline; */
    text-align: center;
    border-bottom: 1px solid #f6f8ff;
    transform: scale(0);
    transition: transform 1s;
}

ul{
    width: 60%;
}

hr{
    border: 1px solid #272d2d;
    width: 100%;
}

.divLeftText{
    width: 90%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spanArrow{
    /* float: left;
    transform: rotate(-90deg); */
    font-weight: bold;
    visibility: hidden;
    
}

.spanText{
    margin-left: 2%;
    /* white-space:nowrap; */
}

/* Parte da direita */
.right-side{
    
}

.loginForm{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #f6f8ff;
    transform: scale(1.5);
    height: 40%;
    width: 40%;
    border-radius: 5px;
    padding: 3%;
    align-items: center;
    box-shadow: 10px 10px 5px #1c2121;
}

input{
    border: none;
    border-radius: 2px;
    background-color: #f6f8ff;
    box-shadow: 1px 1px 3px #272d2d;
    height: 13%;
    width: 90%;
    padding-left: 2%;
}

button{
    height: 13%;
    width: 92%;
    border: none;
    background-color: #266dd3;
    color: #f6f8ff;
    font-weight: bold;
    box-shadow: 1px 1px 3px #272d2d;
    outline: none;
}

.btn-Login:hover{
    cursor: pointer;
    background-color: #2363be;
}

.btn-createAcount{
    background-color: #30b077;
}

.btn-createAcount:hover{
    cursor: pointer;
    background-color: #2ca06c;
}

/* Tela de cadastro */

.joinDiv{
    height: 100vh;
    width: 100vw;
    display: none;
}

.joinDiv .left-side{
    color: #f6f8ff;
    font-size: 130%;
}

@keyframes scaleTitleUp{
    to{transform: scale(1)}
}

.joinDiv .divLeftText h1{
    transform: scale(0.9);
    animation-name: scaleTitleUp;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}



/* 
@keyframes scaleFormUp{
    to{transform: scale(1.5)}
}

.joinDiv .right-side .loginForm{
    transform: scale(1.4);
    animation-name: scaleFormUp;
    animation-duration: 1s;
    animation-fill-mode: forwards;
} */

@media only screen and (max-width: 600px) {
    .left-side{
        display: none;
    }

    .right-side{
        width: 100vw;
    }

    .divLeftText {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 1200px) {
    .divLeftText {
        font-size: .5rem;
    }
}