<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <link rel="stylesheet" href="../public/userDashboard/css/userDashboardStyle.css">
    <link rel="stylesheet" href="../public/css/all.css">
    <script src="../public/userDashboard/js/function.js"></script>
</head>
<body>
    <header>
        <div class="menu">
            <i class="fas fa-bars"></i>
            <div class="menuOption">
                <button>Perfil</button>
                <div class="divDarkMode">
                    <label for="darkMode"> DarkMode</label>
                    <input type="checkbox" checked="true">
                </div>
                <button> Sair </button>
            </div>
        </div>
        <div class="divBackOptions">
            <!-- <i class="fas fa-plus" onclick="showAddTask()"></i>
            <i class="fas fa-share-alt"></i> -->
            <span class="spanAction"> Nome do Usuário </span>
        </div>
    </header>
    <div class="divMainContent">
        <div class="divNewList" id="divCreateNewTask">
            <form action="">
                <h2>Criar Nova Lista de Tarefas</h2>
                <input type="text" id="nameNewList" placeholder="Nome da Lista">
                <div class="divBtnNewList">
                    <button type="button" class="btn-cancel" onclick="hideForm(event)">Cancelar</button>
                    <button type="button" class="btn-create" onclick="createNewList(event)">Criar</button>
                </div>
            </form>
        </div>
        <div class="divLists">
            <ul class="ulListsNames" id="listsNames">
            </ul>
        </div>
        <span class="divCreateNewListBack" onclick="showForm()"> + </span>
    </div>
</body>
</html>