<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <link rel="stylesheet" href="./css/userDashboardStyle.css">
    <script src="./js/function.js"></script>
</head>
<body>
    <header>
        <div class="menuBar">
            <span class="spanBar"> | </span>
            <span class="spanBar"> | </span>
            <span class="spanBar"> | </span>
        </div>
        <div class="divBackOptions">
            <i class="fas fa-plus" onclick="showAddTask()"></i>
            <i class="fas fa-share-alt"></i>
            <span class="spanAction"> Nome do Usuário </span>
        </div>
    </header>
    <div class="divMainContent">
        <a href="/taskManager" class="btn-Ancor"> Click me </a>
    </div>
</body>
</html>