<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>
    <link rel="stylesheet" href="../public/taskManager/css/taskManagerStyle.css">
    <link rel="stylesheet" href="../public/css/all.css">
    <script src="../public/taskManager/js/taskManagerFunctions.js"></script>
    <script src="../public/taskManager/js/elementCreator.js"></script>
    <script src="../public/taskManager/js/dragAndDrop.js"></script>
    <script src="../public/taskManager/js/dbOperations.js"></script>
</head>
<body>
    <header>
        <div class="menuBar">
            <i class="fas fa-arrow-left" onclick="backDashboard()"></i>
        </div>
        <div class="divBackOptions">
            <i class="fas fa-plus" onclick="showAddTask()"></i>
            <i class="fas fa-share-alt"></i>
            <span class="spanAction" id="spanListNameTem"> Nome do Usuário </span>
        </div>
    </header>
    <div class="divMainContent" id="mainContent">
        <div class="divBackTask">
            <div class="taskList">
                <h2>Tarefas</h2>
                <div class="taskListIn" id="normal" ondragover="allowDrop(event)" ondrop="drop(event)">
                </div>
            </div>
            <div class="taskList">
                <h2>Em Andamento</h2>
                <div class="taskListIn" id="andamento" ondragover="allowDrop(event)" ondrop="drop(event)">

                </div>
            </div>
            <div class="taskList">
                <h2>Completadas</h2>
                <div class="taskListIn" id="completada" ondragover="allowDrop(event)" ondrop="drop(event)">

                </div>
            </div>
        </div>
        <div class="divNewTask" id="divNewTask">
            <form action="">
                <h2>Adicionar Nova Tarefa</h2>
                <input type="text" id="newTaskName" placeholder="Nome da Tarefa">
                <input type="text" id="newTaskDate" placeholder="Prazo">
                <input type="text" id="newTaskResponsible" placeholder="Responsavel">
                <select name="stateNewTask" id="stateNewTask">
                    <option value="normal">Normal</option>
                    <option value="andamento">Em andamento</option>
                    <option value="completada">Completada</option>
                </select>
                <div class="divBtnNewTask">
                    <button type="button" class="btn-cancel" onclick="hideForm(event)">Cancelar</button>
                    <button type="button" class="btn-create" onclick="createNewTask(event)">Criar</button>
                </div>
            </form>
        </div>
        <div class="divNewTask" id="divChangeTask">
            <form action="">
                <h2>Editar Tarefa</h2>
                <!-- <input type="text" id="OGTaskName" style="display: none;"> -->
                <input type="text" id="changedTaskName" placeholder="Nome da Tarefa">
                <input type="text" id="changedTaskDate" placeholder="Prazo">
                <input type="text" id="changedTaskResponsible" placeholder="Responsavel">
                <select name="stateNewTask" id="changedStateTask">
                    <option value="normal">Normal</option>
                    <option value="andamento">Em andamento</option>
                    <option value="completada">Completada</option>
                </select>
                <div class="divBtnNewTask">
                    <button type="button" class="btn-cancel" onclick="hideForm(event)">Cancelar</button>
                    <button type="button" class="btn-create" onclick="updateTask(event)">Confirmar</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>