<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../public/authetication/css/loginStyle.css">
    <script src="../public/authetication/js/textAnimation.js"></script>
    <script src="../public/authetication/js/clientServerAuthetication.js"></script>
    <script src="../public/authetication/js/clientValidator.js"></script>
</head>
<body>
    <div class="loginDiv" id="div1">
        <div class="left-side">
            <div class="divLeftText">
                <h1>G-Lists</h1>
                <ul class="pointsOfG-list" id="listOfG-lists">
                    <li> <span class="spanArrow" id="arrow1"> > </span> <span class="spanText" id="task1"></span></li>
                    <li> <span class="spanArrow" id="arrow2"> > </span> <span class="spanText" id="task2"></span></li>
                    <li> <span class="spanArrow" id="arrow3"> > </span> <span class="spanText" id="task3"></span></li>
                </ul>
            </div>
        </div>
        <div class="right-side" id="divRightLogin">
            <form action="" class="loginForm">
                <h2>G-Lists</h2>
                <input type="text" name="userName" id="userName" onkeyup="isName()" placeholder="nome de usuário"></input>
                <input type="password" name="password" id="userPassword" placeholder="senha"></input>
                <button type="button" class="btn-Login" onclick="login(event)">Entrar</button>
                <hr/>
                <button type="button" class="btn-createAcount" onclick="showJoin(event)">Criar Conta</button>
            </form>
        </div>
    </div>
    <div class="joinDiv" id="div2">
        <div class="right-side">
            <form action="" class="loginForm" id="form2">
                <h2>G-Lists</h2>
                <input type="text" name="userName" id="newUserName" onkeyup="isName()" placeholder="nome de usuário"></input>
                <input type="email" name="userEmail" id="newUserEmail" onkeyup="isEmail()" placeholder="email"></input>
                <input type="password" name="userPassword" id="newUserPassword" placeholder="senha"></input>
                <input type="password" name="userCheckPassword" id="confNewUserPassword" onkeyup="checkPasswords()"placeholder="confirmar senha"></input>
                <button type="button" class="btn-Login" onclick="join(event)">Criar Conta</button>
            </form>
        </div>
        <div class="left-side">
            <div class="divLeftText">
                <h1>Criando um Conta</h1>
                <ul class="pointsOfG-list" id="listOfG-lists">
                    <li> <span class="spanArrow" id="arrow4"> > </span> <span class="spanText" id="task4"> </span> </li>
                    <li> <span class="spanArrow" id="arrow5"> > </span> <span class="spanText" id="task5"> </span> </li>
                    <li> <span class="spanArrow" id="arrow6"> > </span> <span class="spanText" id="task6"> </span> </li>
                    <li> <span class="spanArrow" id="arrow7"> > </span> <span class="spanText" id="task7"> </span> </li>
                    <li> <span class="spanArrow" id="arrow8"> > </span> <span class="spanText" id="task8"> </span> </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>