<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./css/loginStyle.css">
    <script src="./js/textAnimation.js"></script>
</head>
<body>
    <div class="loginDiv">
        <div class="left-side">
            <div class="divLeftText">
                <h1>G-Lists</h1>
                <ul class="pointsOfG-list" id="listOfG-lists">
                    <li> <span class="spanArrow" id="arrow1"> > </span> <span class="spanText" id="task1"></span></li>
                    <li> <span class="spanArrow" id="arrow2"> > </span> <span class="spanText" id="task2"></span></li>
                    <li> <span class="spanArrow" id="arrow3"> > </span> <span class="spanText" id="task3"></span></li>
                </ul>
            </div>
        </div>
        <div class="right-side">
            <form action="" class="loginForm">
                <h2>G-Lists</h2>
                <input type="text" name="userName" placeholder="nome de usuário"></input>
                <input type="password" name="password" placeholder="senha"></input>
                <button type="submit">Entrar</button>
            </form>
        </div>
    </div>
</body>
</html>